{% extends 'base/base.html' %}
{% block content %}
<div class="row pt-5">
    {% for product in products %}
    <div class="col-md-4">
        <div class="card">
        <img class="card-img-top" src="{{product.image.url}}">
        <div class="card-body">
            <h4 class="card-title">{{product.title}}</h4>
            <p class="card-text">{{product.description|truncatechars:100}}</p>
            <div class="mb-2">
            {% for tag in product.tags.all %}
            <span class="badge bg-secondary">{{tag}}</span>
            {% endfor %}
            </div>
            <p class="card-text">{{product.price}}MMK</p>
            <a href="#" class="btn btn-primary">button</a>
        </div>
        </div>
    </div>
    {% endfor %}
<div>
{% endblock %}